@model IEnumerable<Library_MVC_API.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<style>
    * {
        color: black;
    }
</style>
<p>
    <a asp-action="cart" class="btn btn-outline-dark">@ViewBag.name's Cart</a>
    <a>                                                                        </a>
    <a asp-action="History" class="btn btn-outline-dark">Purchase History</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jonour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoofCopies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jonour)
                </td>
                <td>
                    &#8377 @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoofCopies)
                </td>
                <td>
                    <a asp-action="Buy" asp-route-id="@item.Bid">Order</a>
                </td>
            </tr>
        }
    </tbody>
</table>
